@import url("/static/font.css");

body{
    background: -webkit-gradient(linear, left left, left right, color-stop(50%, #f9f9f9), color-stop(50%,#d3d3d5));
}


.symbol{
    margin-left: auto;
    margin-right: auto;
    font-family: "Page normal";
    font-size: 20px;
    float: left;
}

#search{
    position: absolute;
    right: 0;

}

Article.head{
    margin-left: auto;
    margin-right: auto;
    font-family: "Page normal";
    font-size: 10px;

}
Article.descrip{
    position: relative;
    left: 50%;
    font-family: "Page normal";
    font-size: 50px;
}
Article.tag{
    margin-left: auto;
    margin-right: auto;
    font-family: "Page normal";
    font-size: 60px;
}


#ex{
    font-size: 15px;
    color: #761c19;
    right:0;
}



.map{
    margin-left: auto;
    margin-right: auto;

}

