
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css" rel="stylesheet" />
    <link href="/static/bootstrap.css" rel="stylesheet" type="text/css"  />
    <link href="/static/bootstrap.min.css" rel="stylesheet" type="text/css"  />
    <link href="/static/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/Article.css" type="text/css" />

{% block title %}<title>Open Krasnoyarsk</title>{% endblock %}
</head>

<body style="background-color: #ffffff; border: 100px solid #d1d1d3">
  <header>
    <div class="container">
        <div class="row" style="background: linear-gradient(to right, #f9f9f9 65%, #dde8ea 35%)">
            <div class="col-md-8">
                <img class="center-block" src="/static/site/tag/inspiration/Слоган.png" alt="Слоган">
            </div>
            <div class="col-md-1">
                <img src="/static/site/navigation/Русский.png" alt="Ru_lang">
            </div>
            <div class="col-md-1">
                <img src="/static/site/navigation/English.png" alt="Eng_Lang">
            </div>
            <div class="col-md-1">
                <img src="/static/site/navigation/Главная.png" alt="Man">
            </div>
            <div class="col-md-1">
                <img src="/static/OK.png" alt="OK">
            </div>
        </div>
    </div>
  </header>


</body>
</html>